.magic {
    min-width: none;
}

.magic .css-1mgcds5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: rgb(255 218 108) !important;
}

.magic .css-10d9dml-MuiTabs-indicator {

    background-color: rgb(255 218 108) !important;
}

.magic .css-fttgdf-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: rgb(255 218 108) !important;
}

 .css-19kzrtu {
    padding: 0px;
}