.css-19r6kue-MuiContainer-root {
    padding-left: 0% !important;
    padding-right: 0% !important;
    position: relative !important;
    max-width: 1280px !important;
}

.css-pluffy {
    background-color: rgb(237, 242, 247) !important;

}

.css-1gsv261 {
    position: absolute;
    top: -30px;
    right: 45%;
}
.css-1ioajco-MuiButtonBase-root-MuiTab-root {
    min-width:40px !important;
    max-height:35px !important;
    min-height:30px !important;
    color: white !important;
    border-color: grey !important;
    background-color: grey !important;

}
.css-7w8qjb-MuiButtonBase-root-MuiTab-root {
    min-width: 40px !important;
    max-height: 35px !important;
    min-height: 30px !important;
    color: white !important;
    border-color: grey !important;
    background-color: grey !important;
}
.css-1ioajco-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color:rgb(30, 29, 29) !important;
}

.css-7w8qjb-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color:rgb(30, 29, 29) !important;

}

.css-1aquho2-MuiTabs-indicator {
    background-color:transparent !important;
}

.css-1gsv261 {
    border-bottom:0px !important;
}

.msgSelector {
    background-color: #edf2f7 !important;
}

.msgSelector .ui.placeholder, .msgSelector .ui.placeholder .image.header:after, .msgSelector .ui.placeholder .line, .msgSelector .ui.placeholder .line:after,.msgSelector .ui.placeholder>:before{
    background-color: #edf2f7 !important;
}