 .ui.disabled.button{
    cursor: default;
    opacity: .99!important;
    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
    color: rgba(68, 114, 196, 1);
}

.ui.blue.button {
    cursor: default;

    background-image: none!important;
    box-shadow: none!important;
    pointer-events: none!important;
}

ui.blue.button, .ui.blue.buttons .button {
    color: rgba(68, 114, 196, 1) !important;

}

.border-card {
    border-top-width: 2px;
    border-left-width: 2px;

    border-right-width: 2px;

}