.ui.pagination.menu .active.item {
  background-color: green !important;
}

.ui.pagination.menu {
  margin-top: 0%;

}

.comment-container .button {
  /* TODO This is a tricky fix and we'll want to make button auto responsive 
  when more comments are added */
  /* z-index: 999; */
}



.ui.card {
  width: 450px;
}
.ui.card, .ui.cards>.card {
  min-width: 100%;
}
.ui.card > .content > .header {
  cursor: pointer;
}

.ui.card > .content > .description {
  cursor: pointer;
}

.articleview-container {
  width: 75%;
  margin-top: 4%;
  margin-bottom: 50px;
}

.comment-container {
  width: 75%;
  margin-top: 6%;
  margin-bottom: 50px;
  height: 30rem;
}

.speed-container {
width: 90%;
  height: 20rem;
}
.editor-container {
    height: 40rem;
  }
.air-container{
  width: 1280px;
  margin-left: 6%;
}

.ui.card>.image, .ui.cards>.card>.image {

  background: rgb(230,233,238) !important;
  padding: 1rem !important;
}

.ui.card>:first-child, .ui.cards>.card>:first-child {
  background: rgb(230,233,238) !important;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px dashed;
}

.ui.card>.content, .ui.cards>.card>.content {
  background: rgb(230,233,238) !important;
  border-top:0px !important;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  background: rgb(230,233,238) !important;

}

.airticleInfo {
  background: rgb(230,233,238) ;
}

.leftInfo {
  margin-top: 6%;
}

.customDivider {
  border-top: 1px dashed rgba(34,36,38,.15) !important;
    border-bottom: 1px dashed rgba(255,255,255,.1) !important;
}

.customDividerD {
  border-top: 1px dashed rgba(25, 26, 27, 0.5) !important;
    border-bottom: 1px dashed rgba(255,255,255,.1) !important;
}

.element::-webkit-scrollbar { width: 0 !important }

.articleHigh {
  height: 30rem;
}


.image {
  height: 15rem;
}

.cardlenth {
 height: 28rem;
}