.article-container {
  width: 100%;
  /* margin-right: 10%; */
  margin-bottom: 50px;
}

.article-container .card {
  overflow-x: hidden;
}


.speedPublish {
  background-color: white !important;
  border-radius: 1rem !important;
  padding: 1rem !important;
}


