.borderL {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.auth-container {
  margin-left: 30%;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
}

.auth-container .banner {
  text-align: center;
}

.ui.form .field {
  margin-bottom:2em !important;
}


.bg {
      background-color: rgb(188 233 254) !important;
      padding-top: 1.6rem !important;
      width: 120% !important;
      
    border-radius: 1.5rem !important;
}

.bgInput {
  background-color: rgb(248 248 248) !important;
  border-radius: 1rem !important;
}

.bgInput .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 1rem !important;

}

.lgB {
  background-color: rgb(158 217 254) !important;
  border-radius: 1.5rem !important;
  height: 3rem !important;
  font-size: 1.5rem !important;
  margin-top: 2rem !important;
}

.bottom {
  justify-content: space-between !important;
}

.bottom a {
  color:white !important;
  font-size: 1rem !important;
}


.coverBL {
  height: 10rem;
  width: 20rem;
  margin: auto;
  position: relative;
  bottom: -0.6rem;
  background-color: white;
  z-index: 1;
}

.coverBR {
  height: 10rem;
  width: 20rem;
  margin: auto;
  position: relative;
  bottom: -1rem;
  background-color: white;
  z-index: 1;
}